<header>
    <h1>Minuk's Life</h1>
    <ul>
        <li><a href="/content"></a>content</li>
        <li><a href="/sports"></a>sports</li>
        <li><a href="/health"></a>health</li>
        <li><a href="/diary"></a>diary</li>
    </ul>
</header>