<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>
    <title>content</title>
</head>
<script>
    $(function(){
        $('.datepicker').datepicker({ //클래스로 datepicker 적용
            startDt: new Date('2024'),
            calendarWeeks: false,
            todayHighlight: true,
            autoclose: true,
            format: "yyyy-mm-dd",
            language: "ko"
    
        });
    });
    </script>
<script>

    function post(){
        const title = document.getElementById('inputTitle').value;
        const release = document.getElementById('inputRelease').value;
        const division = document.getElementById('inputDivision').value;
        const data = {
            title: title,
            release: release,
            division: division
        };
        // let Data = new FormData();
        // Data.append('title', title)
        // Data.append('release', release)
        // Data.append('division', division)
        if (title.trim() == ""){
            alert("내용이 없습니다.")
        }else {
            axios.post('/content', data)
                .then((response) => {
                    alert(response.data.msg)
                    location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    }
</script>
<header>
    <h1>Minuk's Life</h1>
    <ul>
        <li><a href="/content"></a>content</li>
        <li><a href="/sports"></a>sports</li>
        <li><a href="/health"></a>health</li>
        <li><a href="/diary"></a>diary</li>
    </ul>
</header>
<body>
    <div>
        <p>contentPost</p>
        <button onclick="post()">dd</button>
        <div class="mb-3">
            <input type="text" name="title" class="form-control" id="inputTitle" maxlength="13">
        </div>
        <div>
            <input type="text" id="startDate" class="form-control datepicker" placeholder="시작날짜">
            <!-- <label class="input-group-text" for="startDate" ><i class="fa-solid fa-calendar" ></i></label> -->
        </div>
        <select class="form-select" id="inputDivision" aria-label="Default select example">
            <option selected disabled>Division</option>
            <option value="MOVIE">Movie</option>
            <option value="DRAMA">Drama</option>
            <option value="ANIME">Animation</option>
            <option value="OTHER">Other</option>
        </select>
    </div>
    <div>
        <p>contentGet</p>
    </div>
    <div>
        <p>contentPatch</p>
    </div>
</body>
</html>

